/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

header nav {
  background-color: var(--bright-background-color);
  color: var(--dark-background-color);
}

div.logo-container {
  margin-right: 30px;
}

div.logo-container.logo-with-page-name
{
  display: flex;
  flex-direction: column;
}

div.logo-with-page-name .logo-link
{
  text-align: center;
}

div.logo-container .logo-link a
{
  white-space: normal;
  text-align: center;
  word-break: break-all;

  font-family: "blakely", sans-serif;
  font-weight: 700;
  font-style: normal;

  color: var(--dark-background-color);
  margin: auto;
  text-decoration: none;
}

div.logo-with-page-name .logo-link a
{
  font-size: 20px;
}

div.logo-without-page-name .logo-link a
{
  font-size: 30px;
}

div.logo-with-page-name .page-name
{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  
  font-family: "doublebass", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--alternate-bright-color);
}

/* Because of the way ASP.Net's isolated CSS plays with the <a> tag helper, we can't style the actual anchor tag here */
/* custom_bootstrap.scss sets some variables which are used by the anchor tag as well */
.nav-item {
  font-family: "blakely", sans-serif;
}