.watch-providers {
    display: flex;
    flex-wrap: wrap;
    border: solid 1px black;
    min-height: 200px;
    padding: 15px;
    justify-content: center;
    background-color: var(--bright-background-color);
    column-gap: 10px;
}

.watch-providers .watch-providers-title
{
    width: 100%;
    font-family: var(--header-menu-font);
    font-size: 225%;
    text-align: center;
    color: var(--alternate-bright-color);
}

.watch-providers .watch-providers-title a {
    color: var(--alternate-bright-color);
    text-decoration: none;
}

.watch-providers div.watch-provider-logo {
    display: inline-block;
}

.watch-providers div.watch-provider-logo img {
    width: 64px;
}

.tmdb-link a {
    color: var(--bright-background-color);
}

.ratings-row h2 {
    font-family: var(--header-menu-font);
}

.user-rating {
    padding: 8px;
    border: solid 1px black;
    min-width: 175px;
    min-height: 90px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.user-rating.current-user {
    background-color: var(--alternate-bright-color);
}

.user-rating img {
    max-width: 64px;
    max-height: 64px;
    margin-right: 8px;
}

.user-rating .user-name {
    font-weight: bold;
}

.user-rating button {
    margin-top: 5px;
}

button.not-loading .text {
    display: inline;
}

button.not-loading .spinner-border {
    display: none;
}

button.loading .text {
    display: none;
}

button.loading .spinner-border {
    display: inline-block;
}

.user-rating .validation {
    color: #811b1b;
    font-weight: bold;
    font-style: italic;
}

.user-rating .validation.not-shown {
    display: none;
}

#our-rating {
    color: var(--bright-background-color);
}

.admin-button-container button {
    margin-top: 15px;
}