@page
@model zinfandel_movie_club.Pages.Movies.Add
@{
    ViewData["Title"] = "Add Movie";
}

@section scripts {
    <script type="text/javascript" src="~/js/movies.js"></script>
}

@section styles {
    <style>
        input[type=file] {
            color: transparent !important;
        }
    </style>
}
<div>
    <form id="search-form">
        <div class="input-group rounded search-box">
            
            <input type="search" class="form-control" id="search-box" placeholder="Search"/>
            
            <button type="button" id="search-button" class="btn btn-primary">
                <i class="bi bi-search"></i>
            </button>
        </div>
    </form>
    <div class="search-results hidden">
        <div class="search-cancel-container do-not-clear"><button id="search-cancel" type="button" class="btn btn-link">Cancel</button></div>
    </div>
    
    <div id="add-form-container">
        <form id="add-form" name="add-movie" method="post" enctype="multipart/form-data" novalidate>
            <div class="form-group mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" required/>
                <div class="invalid-feedback">
                    Required
                </div>
                <div class="valid-feedback"></div>
            </div>
            
            <div class="form-group mb-3">
                <label for="overview" class="form-label">Overview</label>
                <textarea class="form-control" id="overview" name="overview" rows="4"></textarea>
                <div class="valid-feedback"></div>
            </div>
            
            <div class="form-group mb-3">
                <label for="rt-critic" class="form-label">Rotten Tomatoes - Critic Score</label>
                <input type="number" min="0" max="10" step="0.01" class="form-control" id="rt-critic" name="rt-critic"/>
                <div class="valid-feedback"></div>
            </div>
            
            <div class="form-group mb-3">
                <label for="rt-user" class="form-label">Rotten Tomatoes - User Score</label>
                <input type="number" min="0" max="10" step="0.01" class="form-control" id="rt-user" name="rt-user"/>
                <div class="valid-feedback"></div>
            </div>
            
            <div class="form-group mb-3">
                <label for="runtime" class="form-label">Runtime (Minutes)</label>
                <input type="number" class="form-control" id="runtime" name="runtime"/>
                <div class="valid-feedback"></div>
            </div>
            
            <div class="form-group mb-3" id="release-date-field-group">
                <label for="release-date" class="form-label">Release Date</label>
                <input type="text" class="form-control" id="release-date" name="release-date" placeholder="YYYY-MM-DD or YYYY-MM"/>
                <div class="valid-feedback"></div>
                <div class="invalid-feedback">
                    Must be a valid date in YYYY-MM-DD or YYYY-MM format
                </div>
            </div>

            <input type="hidden" id="tmdb-id" name="tmdb-id"/>
            <input type="hidden" id="tmdb-poster" name="tmdb-poster"/>
            
            <div class="form-group mb-3">
                <label for="uploaded-file" class="form-label">Cover Image</label>
                <div class="cover-image-container">
                    <div class="cover-image-frame">
                        <img alt="" src=""/>                        
                    </div>
                </div>
                <input type="file" class="form-control-file" id="uploaded-file" name="uploaded-file"/>
            </div>
            <button type="submit" class="btn btn-primary">Add</button>
        </form>
    </div>
</div>

<template id="search-result-spinner-template">
    <img src="/img/spinner.png" alt="spinner" class="spinner"/>
</template>

<template id="search-result-template">
    <div class="search-result-container">
        <div class="search-result-image-container">
            <img src="" alt=""/>
        </div>
        <div class="search-result-data-container">
            <a href="" class="title-link"><div class="title"></div></a>
            <div class="info">
                <div class="release-date"></div>
            </div>
            <div class="overview"></div>
        </div>
        <div class="search-result-add-button-container">
            <button type="button" class="not-loading">
                <i class="bi bi-plus-circle-fill"></i>
                <span class="spinner-border spinner-border-sm"></span>
            </button>
        </div>
    </div>
</template>
