@page
@model zinfandel_movie_club.Pages.Movies.Add
@{
    ViewData["Title"] = "Add Movie";
}

@section scripts {
    <script type="text/javascript" src="~/js/movies.js"></script>
}

<div>
    <button id="search">Search</button>    
</div>
