.search-results {
    background-color: white;
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    
    filter: drop-shadow(4px 4px 6px rgb(128, 128, 128));
    z-index: 50;
    min-height: 100px;
    max-height: 50vh;
    
    overflow: auto;
    position: absolute;
    
    margin-top: 3px;
    padding: 10px;
    
    /*border-radius: 0.375rem;*/
    border-radius: var(--bs-border-radius)
}

.search-results.hidden {
    display: none;
}

img.spinner {
    max-width: 32px;
}

.search-result-container {
    display: grid;
    grid-template-columns: auto 6fr .5fr;
    margin-bottom: 25px;
}

.search-results .search-cancel-container {
    margin-bottom: 5px;
    text-align: right;
}

.search-results .search-cancel-container button {
    color: var(--bright-background-color);
    text-decoration: none;
    font-family: var(--header-menu-font);
    font-size: 16pt;
}

.search-results .search-cancel-container button:hover {
    text-decoration: underline;
}

.search-result-container .search-result-image-container {
    margin-right: 15px;
}
.search-result-container .search-result-image-container img {
    max-width: 75px;
    margin-top: 15px;
}

.search-result-container .search-result-data-container a {
    color: black;
}

.search-result-container .search-result-data-container .title {
    font-weight: bold;
    font-size: 135%;
}

.search-result-container .search-result-data-container .info {
    display: flex;
}

.search-result-container .search-result-data-container .info div {
    background-color: #f3e9b0;
    border-radius: 20px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 85%;
}

.search-result-container .search-result-data-container .overview {
    overflow: clip;
    max-height: 100px;
}
.search-result-container .search-result-add-button-container {
    display: flex;
    flex-direction: column;
}
.search-result-container .search-result-add-button-container button {
    height: 30%;
    width: 80%;
    margin: auto;
    background-color:  var(--bright-background-color);
    color: var(--dark-background-color);
}