.movie-row .movie-title {
    font-size: 175%;
    font-weight: bold;
}

.movie-row .movie-title .release-date {
    font-size: 60%;
    font-weight: normal;
    font-style: italic;
}

.movie-row .detail-heading {
    font-weight: bold;
}

.movie-row .detail-value {
    
}