@page
@using zinfandel_movie_club.Data
@using zinfandel_movie_club.Data.Models
@model zinfandel_movie_club.Pages.Movies.Index
@inject IImageUrlProvider<MovieDocument> coverProvider
@{
    ViewData["Title"] = "Movies";
}

@section styles {
    <style>
        .movie-row .movie-title a {
            text-decoration: none;
        }
    </style>
}

@section scripts {
    <script src="~/js/movies-sort.js"></script>
}

@section leftColumn {
    <div class="responsive-sidebar">
        <div><button class="nav-pills nav-link active" type="button" data-sort-mode="oldest-first">Sort - Oldest First</button></div>
        <div><button class="nav-pills nav-link" type="button" data-sort-mode="newest-first">Sort - Newest First</button></div>
        <div><button class="nav-pills nav-link" type="button" data-sort-mode="alpha-asc">Sort - Title</button></div>
        <div><button class="nav-pills nav-link" type="button" data-sort-mode="alpha-des">Sort - Title (Reverse)</button></div>
    </div>
}

<div class="raw-data-link mb-3">
    <a asp-page="/Movies/RawData">Just the data</a>
</div>

<div class="view-content">
    <ul class="nav nav-pills">
        <li class="nav-item">
            <button class="nav-link active" id="tabs-unwatched-tab" data-bs-toggle="pill" data-bs-target="#tabs-unwatched" type="button" role="tab">Unwatched</button>
        </li>
        <li class="nav-item">
            <button class="nav-link" id="tabs-watched-tab" data-bs-toggle="pill" data-bs-target="#tabs-watched" type="button" role="tab">Watched</button>
        </li>
    </ul>
    <div class="tab-content mt-2" id="tab-content">
        <div class="tab-pane show active" id="tabs-unwatched" role="tabpanel">
            @foreach (var m in Model.UnwatchedMovies)
            {
                <partial name="_MovieListMoviePartial" model="m"/>
            }
        </div>
        
        <div class="tab-pane" id="tabs-watched" role="tabpanel">
            @foreach (var m in Model.WatchedMovies)
            {
                <partial name="_MovieListMoviePartial" model="m"/>
            }
        </div>
    </div>
</div>
