@page "/profile/{id=_self}"
@model zinfandel_movie_club.Pages.Profile.Profile

<div>
    
    <div class="row">
        <div class="col"></div>
        <div class="col-sm-8">
            @if (Model.CanEdit)
            {
                <form method="post">
                    <div class="mb-3">
                        <label for="displayName" class="form-label">Display name</label>
                        <input type="text" class="form-control" id="displayName" name="displayName" maxlength="100" width="50" value="@Model.DisplayName"></input>
                    </div>
                    <div class="mb-3">
                        <label for="membershipRole" class="form-label">Role</label>
                        <input type="text" class="form-control-plaintext" id="membershipRole" readonly placeholder="@Model.MemberRole"></input>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                </form>
            }
            else
            {
                <form>
                    <div class="mb-3">
                        <label for="displayName" class="form-label">Display name</label>
                        <input type="text" class="form-control-plaintext" id="displayName" name="displayName" readonly value="@Model.DisplayName"></input>
                    </div>
                    <div class="mb-3">
                        <label for="membershipRole" class="form-label">Role</label>
                        <input type="text" class="form-control-plaintext" id="membershipRole" readonly placeholder="@Model.MemberRole"></input>
                    </div>
                </form>
            }
        </div>
        <div class="col"></div>
    </div>
</div>