:root {
  --bright-background-color: #df623f;
  --dark-background-color: #302b28;
  --alternate-bright-color: #f3da68;
  --white-background-color: #f8f7f7;
  
  --header-menu-font: "blakely", sans-serif;
  --header-page-name-font: "doublebass", sans-serif;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  color: var(--dark-background-color);
  background-color: var(--white-background-color);

  font-family: "obvia-narrow", sans-serif;
  font-style: normal;
}

label.form-label {
  font-size: 140%;
  font-weight: 400;
}

nav .menu-profile-picture {
  max-width: 32px;
  max-height: 32px;
  margin-top: -8px;
}

nav .dropdown-menu .dropdown-item {
  font-size: 19pt;
}

nav .profile-picture-nav .dropdown-toggle::after {
  display: none;
}

.movie-partial .movie-title {
  font-size: 175%;
  font-weight: bold;
}

.movie-partial .movie-title .release-date {
  font-size: 60%;
  font-weight: normal;
  font-style: italic;
}

.movie-partial .detail-heading {
  font-weight: bold;
}

.movie-partial .our-rating-container {
  /*background-color: var(--alternate-bright-color);*/
  background-color: #f3da6854;
  padding-top: 1px;
  padding-bottom: 1px;
  padding-left: 3px;
  padding-right: 3px;
  margin-right: 3px;
}

.responsive-sidebar {
  display: flex;
  flex-direction: row;
}

.responsive-sidebar > * {
  margin-bottom: 5px;
}

.responsive-sidebar .nav-link {
  min-height: 35px;
  padding: .05rem 1rem;
  border-radius: var(--bs-border-radius);
  border-width: 2px;
  border-style: solid;
  color: var(--bs-nav-pills-link-active-bg);
  border-color: var(--bs-nav-pills-link-active-bg);
  background-color: var(--white-background-color);
}

.responsive-sidebar .active {
  color: var(--bs-nav-pills-link-active-color);
  background-color: var(--bs-nav-pills-link-active-bg);
  border-color: var(--bs-nav-pills-link-active-color);
}

@media (min-width: 768px) {
  .responsive-sidebar {
    flex-direction: column;
  }
 
  .responsive-sidebar .nav-link {
    width: 100%;
    min-height: unset;
  }
}