:root {
  --bright-background-color: #df623f;
  --dark-background-color: #302b28;
  --alternate-bright-color: #f3da68;
  --white-background-color: #f8f7f7;

  --bs-nav-link-color: red;
}
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  color: var(--dark-background-color);
  background-color: var(--white-background-color);

  font-family: "obvia-narrow", sans-serif;
  font-style: normal;
}

label.form-label {
  font-size: 140%;
  font-weight: 400;
}