@page
@model zinfandel_movie_club.Pages.SignIn

@* this page should never be seen but have it do something anyway just in case *@

@{
    ViewData["Title"] = "A Curiosity";
}

<div>
    Redirect to <a asp-page="/Profile/Index">Profile Page</a>
</div>
